* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
}

.toolbar {
  position: sticky;
  top: 0;
  left: 0;
  color: white;
  background-color: black;
}

.page {
  position: relative;
}

.textLayer {
  position: absolute;
  text-align: initial;
  inset: 0;
  overflow: hidden;
  opacity: 0.5;
  line-height: 1;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  forced-color-adjust: none;
  transform-origin: 0 0;
  z-index: 2;
  user-select: text;
}

.textLayer p,
.textLayer span {
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
  user-select: text;
  color: transparent;
  padding-right: 20px;
}

.textLayer .endOfContent {
  all: unset;
}
